*.o
*.swp
*~

gmock-1.6.0/Makefile
gmock-1.6.0/build-aux/config.h
gmock-1.6.0/build-aux/stamp-h1
gmock-1.6.0/config.log
gmock-1.6.0/config.status
gmock-1.6.0/fused-src/.deps/
gmock-1.6.0/gtest/Makefile
gmock-1.6.0/gtest/build-aux/config.h
gmock-1.6.0/gtest/build-aux/stamp-h1
gmock-1.6.0/gtest/config.log
gmock-1.6.0/gtest/config.status
gmock-1.6.0/gtest/fused-src/gtest/.deps/
gmock-1.6.0/gtest/lib/
gmock-1.6.0/gtest/libtool
gmock-1.6.0/gtest/samples/.deps/
gmock-1.6.0/gtest/samples/.dirstamp
gmock-1.6.0/gtest/samples/.libs/
gmock-1.6.0/gtest/samples/libsamples.la
gmock-1.6.0/gtest/samples/sample1.lo
gmock-1.6.0/gtest/samples/sample2.lo
gmock-1.6.0/gtest/samples/sample4.lo
gmock-1.6.0/gtest/scripts/gtest-config
gmock-1.6.0/gtest/src/.deps/
gmock-1.6.0/gtest/src/.dirstamp
gmock-1.6.0/gtest/src/gtest-all.lo
gmock-1.6.0/gtest/src/gtest_main.lo
gmock-1.6.0/gtest/test/.deps/
gmock-1.6.0/lib/
gmock-1.6.0/libtool
gmock-1.6.0/scripts/gmock-config
gmock-1.6.0/src/.deps/
gmock-1.6.0/src/.dirstamp
gmock-1.6.0/src/gmock-all.lo
gmock-1.6.0/src/gmock_main.lo
gmock-1.6.0/test/.deps/

*.a
team1/tripleflip
team1/engine/test1
*_sm.h
*_sm.cpp
*_sm.dot
*_sm.pdf
Ogre.log
team1/apptests/tests
