Pelissä heitettään kolme kolikkoa perä jälkeen
-kahdella kruunalla voittaa, järjestyksellä ei ole väliä
 -voiton jälkeen on mahdollisuus tuplata yhdellä kolikolla, kruunalla voittaa
-kolmella kruunalla tulee big win, jonka jälkeen ei ole mahdollisuutta tuplata
*kahdella peräkkäisellä klaavalla häviää heti, ja täten kolmatta ei edes heitetä
